/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/
.t_grid_8.alpha.omega { width:100%; }
.t_hidden {
	display:none !important;
}
.t_visible {
	display:block !important;
}
.t_prefix_0 {
	padding-left:0px;
}
.t_suffix_0 {
	padding-right:0px;
}
.t_align_center {
	text-align: center !important;
}
.t_half {
	width:48%;
	float:left;
	padding-left:1%;
	padding-right:1%;
}
.t_no_float {
	float:none !important;
}
.t_center {
	margin-left:auto !important;
	margin-right:auto !important;
}
.t_width_150 {
	width:150px !important;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.t_container_8 {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.t_grid_1,
.t_grid_2,
.t_grid_3,
.t_grid_4,
.t_grid_5,
.t_grid_6,
.t_grid_7,
.t_grid_8 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.t_alpha {
	margin-left: 0;
}

.t_omega {
	margin-right: 0;
}

/* Grid >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.t_container_8 .t_grid_1 {
	width:10.5%;
}

.t_container_8 .t_grid_2 {
	width:23.0%;
}

.t_container_8 .t_grid_3 {
	width:35.5%;
}

.t_container_8 .t_grid_4 {
	width:48.0%;
}

.t_container_8 .t_grid_5 {
	width:60.5%;
}

.t_container_8 .t_grid_6 {
	width:73.0%;
}

.t_container_8 .t_grid_7 {
	width:85.5%;
}

.t_container_8 .t_grid_8 {
	width:98.0%;
}



/* Prefix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.t_container_8 .t_prefix_1 {
	padding-left:12.5%;
}

.t_container_8 .t_prefix_2 {
	padding-left:25.0%;
}

.t_container_8 .t_prefix_3 {
	padding-left:37.5%;
}

.t_container_8 .t_prefix_4 {
	padding-left:50.0%;
}

.t_container_8 .t_prefix_5 {
	padding-left:62.5%;
}

.t_container_8 .t_prefix_6 {
	padding-left:75.0%;
}

.t_container_8 .t_prefix_7 {
	padding-left:87.5%;
}



/* Suffix Extra Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.t_container_8 .t_suffix_1 {
	padding-right:12.5%;
}

.t_container_8 .t_suffix_2 {
	padding-right:25.0%;
}

.t_container_8 .t_suffix_3 {
	padding-right:37.5%;
}

.t_container_8 .t_suffix_4 {
	padding-right:50.0%;
}

.t_container_8 .t_suffix_5 {
	padding-right:62.5%;
}

.t_container_8 .t_suffix_6 {
	padding-right:75.0%;
}

.t_container_8 .t_suffix_7 {
	padding-right:87.5%;
}



/* Push Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.t_container_8 .t_push_1 {
	left:12.5%;
}

.t_container_8 .t_push_2 {
	left:25.0%;
}

.t_container_8 .t_push_3 {
	left:37.5%;
}

.t_container_8 .t_push_4 {
	left:50.0%;
}

.t_container_8 .t_push_5 {
	left:62.5%;
}

.t_container_8 .t_push_6 {
	left:75.0%;
}

.t_container_8 .t_push_7 {
	left:87.5%;
}



/* Pull Space >> 8 Columns
----------------------------------------------------------------------------------------------------*/


.t_container_8 .pull_1 {
	left:-12.5%;
}

.t_container_8 .pull_2 {
	left:-25.0%;
}

.t_container_8 .pull_3 {
	left:-37.5%;
}

.t_container_8 .pull_4 {
	left:-50.0%;
}

.t_container_8 .pull_5 {
	left:-62.5%;
}

.t_container_8 .pull_6 {
	left:-75.0%;
}

.t_container_8 .pull_7 {
	left:-87.5%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}