/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/
.m_grid_4.alpha.omega { width:100%; }
.m_hidden {
	display:none !important;
}
.m_visible {
	display:block !important;
}
.m_prefix_0 {
	padding-left:0px !important;
}
.m_suffix_0 {
	padding-right:0px !important;
}
.m_align_center {
	text-align: center !important;
}
.m_half {
	width:48%;
	float:left;
	padding-left:1%;
	padding-right:1%;
}
.m_no_float {
	float:none !important;
}
.m_center {
	margin-left:auto !important;
	margin-right:auto !important;
}
.m_width_150 {
	width:150px !important;
}
.m_width_full {
	width:92% !important;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.m_container_4 {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.m_grid_1,
.m_grid_2,
.m_grid_3,
.m_grid_4 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.m_alpha {
	margin-left: 0;
}

.m_omega {
	margin-right: 0;
}

/* Grid >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.m_container_4 .m_grid_1 {
	width:23.0%;
}

.m_container_4 .m_grid_2 {
	width:48.0%;
}

.m_container_4 .m_grid_3 {
	width:73.0%;
}

.m_container_4 .m_grid_4 {
	width:98.0%;
}



/* Prefix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.m_container_4 .m_prefix_1 {
	padding-left:25.0%;
}

.m_container_4 .m_prefix_2 {
	padding-left:50.0%;
}

.m_container_4 .m_prefix_3 {
	padding-left:75.0%;
}



/* Suffix Extra Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.m_container_4 .m_suffix_1 {
	padding-right:25.0%;
}

.m_container_4 .m_suffix_2 {
	padding-right:50.0%;
}

.m_container_4 .m_suffix_3 {
	padding-right:75.0%;
}



/* Push Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.m_container_4 .m_push_1 {
	left:25.0%;
}

.m_container_4 .m_push_2 {
	left:50.0%;
}

.m_container_4 .m_push_3 {
	left:75.0%;
}



/* Pull Space >> 4 Columns
----------------------------------------------------------------------------------------------------*/


.m_container_4 .m_pull_1 {
	left:-25.0%;
}

.m_container_4 .m_pull_2 {
	left:-50.0%;
}

.m_container_4 .m_pull_3 {
	left:-75.0%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}