@import "reset.less";
@import "clearfix.less";
@import "mixins.less";

@media ( min-width: 1120px ) {
	@import "fluidGrid_12x65_20.less";
}
@media ( max-width: 1120px ) {
	@import "fluidGrid_8x65_20.less";
}
@media ( max-width: 699px ) {
	@import "fluidGrid_4x65_20.less";
}

.center {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color:#E7E7E7;
}

section {
	padding-top:1em;
	padding-bottom:1em;
	
	&.content {
		background-color:#E7E7E7;
	}
}

footer {
	padding-top:1em;
	padding-bottom:1em;
	&.center {
		background-color:#999;
		color:#fff;
		a {
			color:#fff;
			text-decoration: underline;
		}
	}
}

.debug {
	font-size: 12px;
	color:#666;
	background-color:#fff;
	padding-top:20px;
	padding-bottom:20px;

}

.editorContent {
	p {
		display:block;
		width:100%;
	}
}